html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}
@font-face {
  font-family: 'num';
  src: url('/fonts/Neutra-Display-Titling-num.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
